// Definitions for TauDAC
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";

	fragment@0 {
		target = <&gpio>;
		__overlay__ {

			mclk_pins: mclk_pins {
				brcm,pins = <22 27>;
				brcm,function = <1>;
				brcm,pull = <0>;
			};
		};
	};

	fragment@1 {
		target-path = "/clocks";
		__overlay__ {

			xtal: tau_xtal {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <0>; /* not mounted */
			};

			osc22: tau_osc22 {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <22579200>;
			};

			osc24: tau_osc24 {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24576000>;
			};

			mux_mclk: tau_mux_mclk {
				compatible = "gpio-mux-clock";
				clocks = <&osc24>, <&osc22>;
				#clock-cells = <0>;
				select-gpios = <&gpio 22 0>;
			};

			gate_mclk: tau_gate_mclk {
				compatible = "gpio-gate-clock";
				clocks = <&mux_mclk>;
				#clock-cells = <0>;
				enable-gpios = <&gpio 27 0>;
			};
		};
	};

	fragment@2 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			wm8741_left: wm8741@1a {
				#sound-dai-cells = <0>;
				compatible = "wlf,wm8741";
				reg = <0x1a>;
				diff-mode = <1>;
				status = "okay";
			};

			wm8741_right: wm8741@1b {
				#sound-dai-cells = <0>;
				compatible = "wlf,wm8741";
				reg = <0x1b>;
				diff-mode = <3>;
				status = "okay";
			};

			si5351: si5351c@60 {
				#address-cells = <1>;
				#size-cells = <0>;
				#clock-cells = <1>;
				compatible = "silabs,si5351c";
				reg = <0x60>;
				clocks = <&xtal>, <&gate_mclk>;
				clock-names = "xtal", "clkin";
				silabs,pll-source = <0 0>, <1 1>;
				status = "okay";

				clkout0 {
					reg = <0>;
					silabs,disable-state = <2>;
					silabs,clock-source = <0>;
					silabs,multisynth-source = <1>;
					silabs,drive-strength = <2>;
				};

				clkout1 {
					reg = <1>;
					silabs,disable-state = <0>;
				};

				clkout2 {
					reg = <2>;
					silabs,disable-state = <0>;
				};

				clkout3 {
					reg = <3>;
					silabs,disable-state = <2>;
					silabs,clock-source = <0>;
					silabs,multisynth-source = <1>;
					silabs,drive-strength = <2>;
				};

				clkout4 {
					reg = <4>;
					silabs,disable-state = <0>;
				};

				clkout5 {
					reg = <5>;
					silabs,disable-state = <2>;
					silabs,clock-source = <0>;
					silabs,multisynth-source = <1>;
					silabs,drive-strength = <2>;
				};

				clkout6 {
					reg = <6>;
					silabs,disable-state = <0>;
				};

				clkout7 {
					reg = <7>;
					silabs,disable-state = <0>;
				};
			};
		};
	};

	fragment@3 {
		target = <&sound>;
		__overlay__ {
			compatible = "taudac,dm101";
			taudac,model = "TauDAC-DM101";
			taudac,i2s-controller = <&i2s>;
			taudac,codecs = <&wm8741_left>, <&wm8741_right>;

			clocks      = <&osc24>,
			<&osc22>,
			<&mux_mclk>,
			<&gate_mclk>,
			<&si5351 5>,
			<&si5351 3>,
			<&si5351 0>;
			clock-names = "mclk-24M",
			"mclk-22M",
			"mux-mclk",
			"gate-mclk",
			"bclk-dacr",
			"bclk-dacl",
			"bclk-cpu";

			status = "okay";
		};
	};

	fragment@4 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};
};
